extends layout

block content
  h1= title
  - let image_names = ['bath2.jpg','bath3.jpg','bath4.jpg','bath5.jpg','bath1.jpg']
  - for(let i=0;i<3;i++){
      - let rno = Math.floor(Math.random()*5)
      - let iname = image_names[rno]

      img(src=`images/${iname}` alt='bath' style='width:300px; height:300px;')
      |    
  - }